*{margin:0;padding: 0;box-sizing: border-box;}
.clr{clear: both;}
.fl{float: left;}
.fr{float: right;}
.new{float: left;}
.bg1{background-color: tomato;}
.bg2{background-color: blue;}
.bg3{background-color: yellow;}
.bg4{background-color: green;}
.wrapper{ 
    border: 20px solid darkgoldenrod;
    border-radius: 11%;
    margin: 10vh auto;
    width: 750px;
    height: 750px;
    background-color: aliceblue;
}
.row1{
    width: 711px;
    height: 280px;
}
.row2{
    width: 711px;
    height: 151px;
}
.col-1{
    width:280px;
    height:280px;
    border: 20px solid tomato;
    background-color: tomato;
    border-top-left-radius: 20%;
}
.col-2{
    width:151px;
    height:280px;
    background-color: rgb(255, 255, 255);
}
.col-3{
    width:280px;
    height:280px;
    border: 20px solid blue;
    background-color: blue;
    border-top-right-radius: 20%;
}
.col-4{
    width: 280px;
    height: 151px;
    background-color: rgb(255, 255, 255);
}
.col-5{
    width: 151px;
    height: 151px;
    border-top: 75px solid blue;
    border-left: 75px solid tomato;
    border-right: 75px solid yellow;
    border-bottom: 75px solid green;
}
.col-6{
    width: 280px;
    height: 151px;
    background-color: rgb(255, 255, 255);
}
.col-7{
    width: 280px;
    height: 280px;
    border: 20px solid green;
    background-color: green;
    border-bottom-left-radius: 20%;
}
.col-8{
    width:151px;
    height:280px;
    background-color: rgb(255, 255, 255);
}
.col-9{
    width: 279px;
    height: 280px;
    border: 20px solid yellow;
    background-color: yellow;
    border-bottom-right-radius: 20%;
}
.white_box{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    transform:rotate(45deg);
}
.red{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;   
}
.red1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position:absolute ;
    
}
.red2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
}
.red3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
}
.blue{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    
}
.blue1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position:absolute;
}
.blue2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    
}
.blue3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
}
.yellow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    
}
.yellow1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position:absolute ;
    
}
.yellow2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    
}
.yellow3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}.green{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    
}
.green1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position:absolute ;
    
}
.green2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    
}
.green3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
}
.mar{left: 15px; bottom: 130px;}
.mar1{right: 15px; bottom: 130px;}
.mar2{left: 15px; bottom: 19px;}
.mar3{right: 15px; bottom: 19px;}