*{margin:0;padding:0;box-sizing: border-box; }
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    width: 80%;
    height: 70vh;
    margin:10vh auto;
    border: 2px solid darkblue;
    background-color: whitesmoke;
}
.header{
    width: 75%;
    height: 10vh;
    border-radius: 3%;
    padding: 1%;
    margin-top: 8vh;
    background-color: tomato;
}
h1:hover{
    background-color: blue;
}
h1{
    color: white;
}
img{
    border: 2px solid black;
    border-radius: 25%;
    width: 15%;
    height: 25vh;
    margin-top: 5vh;
}
img:hover{
    transform: scale(1.3);
}
.description{
    width: 80%;
    height: 25vh;
    border: 1px solid blue;
    text-align: justify;
    background-color:rgb(173, 174, 224);
}
p{
    color: blue;
}